@font-face {
    font-family: "BookCover";
    src: url(../fonts/antique-book-cover.regular.otf);
}

@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather-Regular.ttf);
}

@font-face {
    font-family: "BrimNarrow";
    src: url(../fonts/BrimNarrow-Face.ttf);
}

@font-face {
    font-family: "BrimNarrowCombined";
    src: url(../fonts/BrimNarrow-Combined1.ttf);
}

@font-face {
    font-family: "BrimNarrowCombined2";
    src: url(../fonts/BrimNarrow-Combined2.ttf);
}

// BREAKS FOOTER LAYOUT


.main-content {
    background-image: url(../images/body-bg.jpg);
    margin: 2%;
    padding: 2% 5%;
    border-radius: 10px;
}

p, li {
    font-family: 'DM Serif Text', serif;
    font-size: 1.2rem;
}

a {
    font-family: 'Bree Serif', serif;
    text-decoration: none;
    text-transform: uppercase;
}


h1 {
    font-family: "BrimNarrowCombined";
    color: #261710;
}

h1.hero-text {

    color: white;

    /* Extra small devices (phones, less than 768px) */
    font-size: 1.875rem;

    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) {
        font-size: 2.25rem;
    }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: 992px) {
        font-size: 3.125rem;
    }

    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
        font-size: 3.5rem;
    }
}

h2,
h3 {
    font-family: "BrimNarrow";
    color: #261710;
}

.homeHeader {
    position: relative;
    text-align: center;
}

.wright-airplane {
    width: 100%;
}

.top-left {
    position: absolute;
    top: 50px;
    left: 16px;
    color: white;
}


h4,
h5,
h6 {
    font-family: 'Merriweather';
}

.camera,
.steamBike,
.spaceship,
.steamPunkGuy {
    width: 100%;
    height: auto;
    border-radius: 3px;
}

input {
    width: 50%;
}

.searchBox {
    margin-bottom: 1%;
    height: 40px;
    border-radius: 3px;
    display: flex;
    justify-content: right;
}

label {
    font-weight: bold;
}

#reviewSubmit {
    color: black;
    border: none;
    float: right;
}

.subscribe {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.quote-form {
    border-left: 1px solid #333;
    padding-left: 4%;
}

.footer {
    background-color: #FAF9F6;
    margin-top: 5%;
    padding-top: 3%;
    padding-bottom: 2%;
    color: rgb(0 0 0 / 55%);
}

.footer-logo {
    text-align: center;
}

.footer ul {
    list-style-type: none;
}

.footer a {
    color: rgb(0 0 0 / 55%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.footer-nav {
    padding-top: 2%;
}