@font-face {
  font-family: "BookCover";
  src: url(../fonts/antique-book-cover.regular.otf);
}
@font-face {
  font-family: "Merriweather";
  src: url(../fonts/Merriweather-Regular.ttf);
}
@font-face {
  font-family: "BrimNarrow";
  src: url(../fonts/BrimNarrow-Face.ttf);
}
@font-face {
  font-family: "BrimNarrowCombined";
  src: url(../fonts/BrimNarrow-Combined1.ttf);
}
@font-face {
  font-family: "BrimNarrowCombined2";
  src: url(../fonts/BrimNarrow-Combined2.ttf);
}
@media print {
  .navbar {
    display: none;
  }
}

.main-content {
  background-color: #e9e0d4;
  margin: 2%;
  padding: 2% 5%;
  border-radius: 10px;
}

p, li {
  font-family: "DM Serif Text", serif;
  font-size: 1.2rem;
}

p {
  color: #333;
}

a {
  font-family: "Bree Serif", serif;
  text-decoration: none;
  text-transform: uppercase;
}

h1 {
  font-family: "BrimNarrowCombined";
  color: #261710;
}

h1.hero-text {
  color: white;
  /* Extra small devices (phones, less than 768px) */
  font-size: 1.875rem;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  h1.hero-text {
    font-size: 2.25rem;
  }
}
@media (min-width: 992px) {
  h1.hero-text {
    font-size: 3.125rem;
  }
}
@media (min-width: 1200px) {
  h1.hero-text {
    font-size: 3.5rem;
  }
}
@media print {
  h1.hero-text {
    display: none;
  }
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "BrimNarrow";
  color: #261710;
}

.homeHeader {
  position: relative;
  text-align: center;
}
@media print {
  .homeHeader {
    display: none;
  }
}

.wright-airplane {
  width: 100%;
}

.top-left {
  position: absolute;
  top: 50px;
  left: 16px;
  color: white;
}

.camera,
.steamBike,
.spaceship,
.steamPunkGuy,
.pocketWatch {
  width: 100%;
  height: auto;
  border-radius: 3px;
}
@media print {
  .camera,
  .steamBike,
  .spaceship,
  .steamPunkGuy,
  .pocketWatch {
    display: none;
  }
}

input {
  width: 100%;
  border: 1px solid #ced4da;
  height: 40px;
  border-radius: 3px;
}

.searchBox {
  margin-bottom: 1%;
  height: 40px;
  border-radius: 3px;
  display: flex;
  justify-content: right;
}

label {
  font-weight: bold;
}

#reviewSubmit {
  color: black;
  border: none;
  width: 100%;
}

.review-form {
  font-family: "DM Serif Text", serif;
}

@media print {
  .subscribe-form {
    display: none;
  }
}

.subscribe {
  background-color: rgb(251, 176, 64);
  border: none;
  color: black;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  height: 40px;
  padding: 0;
  text-align: center;
  font-family: "DM Serif Text", serif;
  font-size: 16px;
  margin-top: 15px;
}

.quote-form {
  padding: 20px;
  background: white;
  width: 87%;
  margin: auto;
  margin-bottom: 4%;
  border-radius: 5px;
}

.jobs-background {
  padding: 20px;
  background: white;
  width: 87%;
  margin: auto;
  margin-bottom: 4%;
  border-radius: 5px;
}

.job-list {
  margin-bottom: 5%;
}

.footer {
  background-color: #FAF9F6;
  margin-top: 5%;
  padding-top: 3%;
  padding-bottom: 2%;
  color: rgba(0, 0, 0, 0.55);
}
@media print {
  .footer {
    display: none;
  }
}

.footer-logo {
  text-align: center;
}

.footer ul {
  list-style-type: none;
}

.footer a {
  color: rgba(0, 0, 0, 0.55);
  transition: all 1s ease;
}

.footer-nav {
  padding-top: 2%;
}

.star {
  font-size: 26px;
}

#quoteRequestSubmit {
  width: 100%;
  color: black;
  border: none;
  border-radius: 3px;
}/*# sourceMappingURL=Main.css.map */